:root {
	/* Colores */
	--dark-color: #162530;
	--dark-color-alt: #111D26;

	--color-line: #38607D;

	--color-light: #fafafa;
	--color-light-alt: #F6EDFC;

	/* First color */
	--first-color				: #436CFF;
	--first-color-alt			: #5C80FF;
	--first-color-hover		: #3A5EDF;

	/* Second color */
	--second-color: #ef3748;
	--second-color-alt: #E36F7B;
	--second-color-hover: #dd2b3c;

	/* Third color */
	--third-color: #20b004;
	--third-color-alt: #55b742;
	--third-color-hover: #22990b;

	/* Fonts Family */
	--font-titles: 'Raleway', sans-serif;
	--font-text: 'Open Sans', sans-serif;

	/* Fonts size */
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--font-size: 1rem;
	--small-font-size: .85rem;

	/* Heights */
	--header-height: 3rem;
}

@media screen and (min-width: 64em) {
	:root {
		/* Fonts size */
		--h1-font-size: 2.5rem;
		--h2-font-size: 1.75rem;
		--font-size: 1.1rem;
		--small-font-size: .95rem;

		/* Heights */
		--header-height: 4rem;
	}
}
* {
	box-sizing: border-box;
}
img {
	min-width: 100%;
}
body {
  margin: 0;
  font: var(--font-size) var(--font-text);
}
img {
  max-width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  padding: 1rem 2.5rem;
  height: 500px;
  box-shadow: 1px 1px 5px var(--color-line);
  border-radius: .5rem;
}
.login__logotipo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotipo {
  height: 120px;
}
.img{
  display: block;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

.form {
  background-color: var(--color-light);
  padding: .5rem 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--color-line), 0 0 5px var(--color-line);
  margin-top: 10px;
}
.subtitle {
  text-align: center;
  color: var(--first-color);
  font-family: inherit;
  font-weight: 700;
}

.field {
  padding: .5rem;
  margin-bottom: 10px;
}
.form__input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: .5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  box-shadow: 0 0 3px var(--color-line);
  border-radius: .5rem;
  color: var(--dark-color-alt);
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: var(--first-color);
  color: var(--color-light);
  font-family: inherit;
  font-size: inherit;
  padding: .5rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
}
.button:hover {
  background-color: var(--first-color-hover);
}
