:root {
	--dark-color 				: #1f1f1f;
	--dark-color-alt			: #444444;
	
	--color-line			: #666666;
	--color-light				: #fafafa;
 
	/* First color */
	/* --first-color				: #436CFF;
	--first-color-alt			: #5C80FF;
	--first-color-hover		: #3A5EDF; */

	--first-color				: #0075ff;
	--first-color-alt			: #2086fa;
	--first-color-hover		: #046be2;
 
	/* Second color */
	--second-color				: #EF3748;
	--second-color-alt		: #E7606D;
	--second-color-hover		: #DD2B3C;
 
	/* Third color */
	--third-color				: #20B004;
	--third-color-alt			: #55B742;
	--third-color-hover		: #22990B;
 
	--font-size					: 16px;
	--font-titles				: 'Raleway', sans-serif;
	--font-text					: 'Roboto', sans-serif;
 
	--header-height			: 60px;
	--height-check				: 18px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: var(--font-size) var(--font-text);
}
img {
  max-width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  padding: 1rem 2.5rem;
  height: 500px;
  box-shadow: 1px 1px 5px var(--color-line);
  border-radius: .5rem;
}
.login__logotipo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotipo {
  height: 120px;
}
.img{
  display: block;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

.form {
  background-color: var(--color-light);
  padding: .5rem 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--color-line), 0 0 5px var(--color-line);
  margin-top: 10px;
}
.subtitle {
  text-align: center;
  color: var(--first-color);
  font-family: inherit;
  font-weight: 700;
}

.field {
  padding: .5rem;
  margin-bottom: 10px;
}
.form__input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: .5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  box-shadow: 0 0 3px var(--color-line);
  border-radius: .5rem;
  color: var(--dark-color-alt);
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: var(--first-color);
  color: var(--color-light);
  font-family: inherit;
  font-size: inherit;
  padding: .5rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
}
.button:hover {
  background-color: var(--first-color-hover);
}
